@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: 'Langar', cursive !important;
    background-image: url('/game/images/2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

header {
    font-weight: bolder;
    color: #24272E;
    background-color: white;
    padding-top: 2px;
    padding-bottom: 2px;
}

header h1 {
    font-size: 50px;
    font-weight: bolder;
}

.scoreboard {
    margin: 20px auto;
    padding: 15px 20px;
    border: 3px solid white;
    width: 200px;
    border-radius: 4px;
    text-align: center;
    color: white;
    font-size: 45px;
    position: relative;
    margin-top: 10px;
}

.badge {
    background-color: #E74C3C;
    border-radius: 3px;
    color: white;
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px;
    /* padding-top: 3px; */
    /* padding-bottom: 3px; */
}

#user-label {
    position: absolute;
    top: 15px;
    left: -22px;
}

#comp-label {
    position: absolute;
    top: 15px;
    right: -25px;
}

.result {
    font-size: 40px;
    color: white;
    text-align: center;
    margin-top: 20px;
}

.choices {
    text-align: center;
    margin-top: 10px;
}


/* img.background {
    filter: opacity(100%);
} */

.choice {
    display: inline-block;
    border: 3px solid white;
    /* background-color: #DCDBDF; */
    border-radius: 100%;
    margin: 20px;
    padding: 10px;
    transition: all 0.4s ease;
}

.choice:hover {
    background: white;
    cursor: pointer;
}

#action-message {
    text-align: center;
    font-size: 25px;
    color: white;
    margin-top: 10px;
}

footer {
    background-color: white;
    width: 100vw;
    height: 2rem;
    margin-top: auto;
}

.copyright {
    text-align: center;
    color: #24272E;
    position: fixed;
    bottom: 0px;
    width: 100%;
    font-size: 20px;
    line-height: 2rem;
}

.green-glow {
    border: 4px solid #4dcc7d;
    box-shadow: 0 0 55px #31b43a;
}

.red-glow {
    border: 4px solid #fc121b;
    box-shadow: 0 0 55px #d01115;
}

.grey-glow {
    border: 4px solid #C0C0C0;
    box-shadow: 0 0 55px #ffffff;
}

.score {
    color: #ffffff;
    font-size: 35px;
    display: inline-block;
    float: right;
    margin-top: -130px;
}

#score {
    float: right !important;
}

.button {
    margin-top: 15px;
    text-align: center;
}

.button_align {
    margin: 5px;
}

.text {
    padding: 2px;
    font-family: Langar, cursive;
    font-size: 18px;
    color: #24272E;
}

.btn {
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px 10px 5px 10px !important;
    background-color: tomato !important;
    font-size: 20px !important;
    color: white;
}

.btn:hover {
    background-color: red !important;
}


/* For Mobile */

@media(max-width:480px) {
    body {
        text-align: center;
        font-family: 'Langar', cursive !important;
        background-image: url('/game/images/background.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100vh;
        position: relative;
    }
    header {
        margin-bottom: 40px;
    }
    header h1 {
        margin-top: 10px;
        font-size: 20px;
        text-align: center;
    }
    .scoreboard {
        width: 120px;
        height: 60px;
        padding: 0px 10px;
        border: 3px solid white;
        border-radius: 4px;
        text-align: center;
        color: white;
        font-size: 40px;
        position: relative;
        margin-top: -30px;
    }
    .badge {
        font-size: 12px;
        padding-bottom: 6px;
    }
    .result {
        margin-top: 10px;
        font-size: 23px;
    }
    img {
        height: 87px;
        width: 87px;
    }
    .choices {
        margin: 5px;
    }
    .choice {
        display: inline-block;
    }
    #action-message {
        font-size: 25px;
    }
    .score {
        display: inline-block;
        float: right;
        margin-top: -90px;
        font-size: 20px;
    }
    #score {
        font-size: 25px;
    }
}