@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Langar, cursive;
    text-align: center;
    font-family: 'Langar', cursive !important;
    width: 100%;
    height: 100vh;
    position: relative;
}

header {
    margin-top: 30px;
    margin-bottom: 20px;
    color: white;
    font-size: 40px;
}

.username {
    margin-top: 50px;
    margin-bottom: 35px;
    color: whitesmoke;
    font-size: 30px;
}

.score-card {
    margin-top: 20px;
    margin-bottom: 20px;
    color: whitesmoke;
    font-size: 25px;
}

.score_card {
    margin-top: 20px;
    color: white;
    font-size: 30px;
}

.fieldset-class {
    margin-bottom: 40px;
}

.btn {
    padding: 15px 30px 15px 30px !important;
    background-color: tomato !important;
    font-size: 20px !important;
    color: white;
}

.btn:hover {
    background-color: red !important;
}

main {
    min-height: 100%;
    margin-bottom: -150px;
}

footer {
    background-color: white;
    width: 100vw;
    height: 2rem;
    margin-top: auto;
}

.copyright {
    text-align: center;
    color: #24272E;
    position: fixed;
    bottom: 0px;
    width: 100%;
    font-size: 20px;
    line-height: 2rem;
}

@media(max-width: 400px) {
    header {
        text-align: center;
        font-size: 24px;
    }
    .username {
        margin-top: 40px;
        font-size: 40px;
    }
    .score-card {
        margin-top: 30px;
        font-size: 30px;
    }
    .btn {
        margin-top: 30px;
        font-size: 35px;
    }
}