* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #8bf3ea;
  }
  
  .container {
    height: 100vh;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #96e0da;
  }
  
  .search-field {
    width: 520px;
  }
  
  .search-field {
    padding: 10px;
    font-size: 17px;
    color: #1e1e1e;
    border-radius: 3px;
    border: 1px black solid;
    outline: none;
  }
  
  .h1 {
    font-weight: 300;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin-bottom: 12px;
  }
  
  .result {
    display: none;
    margin-top: 20px;
    width: 520px;
    height: 400px;
    border-radius: 5px;
    padding: 20px;
    overflow-y: scroll;
    background: #fff;
    border-left: 6px solid #eb8f57;
  }
  
  .result > h1 {
    font-size: 40px;
    font-weight: 300;
    display: inline;
    margin-right: 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  .result > p {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  .phonetics {
    padding: 2px 10px;
    border-radius: 50px;
    background-color: #eb8f57;
    color: #fff;
  }
  
  .result > audio {
    display: block;
    width: 100%;
    outline: none;
    margin-bottom: 20px;
  }
  
  .meaningheading {
    font-weight: 500;
  }
  
  .synonyms {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .pills {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #eb8f57;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #fff;
    margin: 5px 8px 5px 0;
  }
  
  @media only screen and (max-width: 600px) {
    .container {
      padding: 20px;
    }
    .search-field {
      width: 100%;
    }
    .result {
      width: 100%;
    }
  }