body {
  margin: 0;
  padding: 8px;
}

h2 {
  font-size: 32px;
  margin: 10px 0;
}

input {
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  margin: 0em;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
  overflow: visible;
  font: inherit;
  margin: 0;
  width: 100%;
  padding: 8px;
  display: block;
}

.container {
  width: 99.99999%;
  float: left;
  border-right: 1px solid #f1f1f1;
}

.component-form {
  padding: 0 8px;
}

.component-half {
  width: 49.99999%;
  margin-top: 16px !important;
  float: left;
  padding: 0 8px;
}

.component-input {
  padding: 8px;
  display: block;
  border: none;
  width: 100%;
  border: 1px solid #ccc !important;
}

.header-container {
  background-color: #04aa6d !important;
  color: white !important;
  padding: 0.01em 16px;
}
